*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 20px 10px;
}
.navbar .logo{
    display: flex;
    color: cyan;
    align-items: center;
}
.navbar img{
padding-right: 10px;
}
.main {
    height: 86.8vh;
    color: white;
    background: url(favicon.ico) no-repeat right center  ;
    background-color: #282D35;
}
.main > h1{
    padding: 20px 30px 10px ;
    font-size: 50px;

}
.main > ul{
    padding: 10px 80px 0px;
}
.main li{
    padding-bottom: 10px ;
    /* display: flex; */
}
.main li::marker{
    font-size: 22px;
    color: cyan;
    display: flex;
}